# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Database
*.sqlite3
*.db
attendance.db
face_data.pkl

# IDE / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
